In [23]:
#import libraries 
from sklearn.model_selection import train_test_split 
from sklearn import metrics

In [24]:
#extract dataset as pandas dataframe 
import pandas as pd
cols_list = ['temperature', 'toux', 'rythme respiratoire']
symptoms = pd.read_csv ('dataset.csv', usecols=cols_list) 
results = pd.read_csv ('dataset.csv', usecols=['target'])
symptoms.head()

   temperature  toux  rythme respiratoire
0    38.909697     0            25.622143
1    38.501598     0            27.080123
2    36.262807     1            21.746695
3    36.432818     0            19.021566
4    39.146504     1            23.887650

In [25]:
# splitting dataset , 80% for training and 20% for test
X_train, X_test, y_train, y_test = train_test_split(symptoms.values.tolist(), results.values.tolist(), test_size=0.2,random_state=20)

In [26]:
# normalisation of the dataset
X_train_range = (pd.DataFrame(X_train).max() -
                 pd.DataFrame(X_train).min())
X_train_range.head()
X_train_scaled = (pd.DataFrame(X_train) -
                  pd.DataFrame(X_train).min())/(X_train_range)
X_train_scaled.head()

          0    1         2
0  0.252834  0.0  0.452785
1  0.365551  1.0  0.719840
2  0.975454  1.0  0.491346
3  0.133140  1.0  0.847429
4  0.368953  1.0  0.570953

In [27]:
#Import Random Forest Model
from sklearn.ensemble import RandomForestClassifier
import numpy as np

clf=RandomForestClassifier(n_estimators=100)

In [28]:
#Train the model using the training sets
y_train = np.ravel(y_train)

clf.fit(X_train_scaled, y_train)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=100, n_jobs=1,
            oob_score=False, random_state=None, verbose=0,
            warm_start=False)

In [29]:
# normalisation test dataset values 
X_test_range = (pd.DataFrame(X_test) - pd.DataFrame(X_test).min()).max()
X_test_range.head()
X_test_scaled = (pd.DataFrame(X_test) - pd.DataFrame(X_test).min())/(X_test_range)
X_test_scaled.head()

          0    1         2
0  0.524939  1.0  0.265805
1  0.935205  0.0  0.045115
2  0.194249  1.0  0.997728
3  0.756674  1.0  0.817467
4  0.619889  1.0  0.799443

In [30]:
#Predict the response for test dataset
y_pred = clf.predict(X_test_scaled)

In [31]:
#accuracy value :
print("Accuracy:",metrics.accuracy_score(y_test, y_pred))

Accuracy: 0.9994

In [32]:
from sklearn.metrics import classification_report, confusion_matrix
import numpy as np

In [33]:
#confusion matrix :
cm =np.array(confusion_matrix(y_test, y_pred, labels =[1,0]))
confusion = pd.DataFrame(cm, index=['tested positive', 'tested negative'], columns=['predicted positive','predicted negative'])
confusion

                 predicted positive  predicted negative
tested positive                2640                   0
tested negative                   3                2357

In [34]:
# test :
temperature=20; toux=0; rythme_respiratoire=30


y_pred = clf.predict([[temperature,toux,rythme_respiratoire],])
print(y_pred)

[1]