In [ ]:
#import libraries 
from sklearn.model_selection import train_test_split 
from sklearn import metrics

In [ ]:
#extract dataset as pandas dataframe 
import pandas as pd
cols_list = ['temperature', 'tousse', 'rithme respiratoire']
symptoms = pd.read_csv ('dataset.csv', usecols=cols_list)
results = pd.read_csv ('dataset.csv', usecols=['target'])
print(symptoms)

       temperature  tousse  rithme respiratoire
0        37.631130       0            22.024291
1        38.705825       0            21.183277
2        36.441986       1            21.012742
3        37.407250       1            21.048908
4        36.800946       0            20.469250
...            ...     ...                  ...
24995    39.753427       0            19.887905
24996    37.723581       1            19.151204
24997    38.439078       1            18.763108
24998    39.664804       1            20.949302
24999    37.714519       0            19.167092

[25000 rows x 3 columns]

In [ ]:
# splitting dataset , 80% for training and 20% for test
X_train, X_test, y_train, y_test = train_test_split(symptoms.values.tolist(), results.values.tolist(), test_size=0.2,random_state=20)

In [ ]:
# normalisation train dataset values 
X_train_range = pd.DataFrame(X_train).max() - pd.DataFrame(X_train).min()
X_train_range
X_train_scaled = (pd.DataFrame(X_train) - pd.DataFrame(X_train).min())/(X_train_range)
X_train_scaled

              0    1         2
0      0.008312  0.0  0.445829
1      0.200752  0.0  0.978067
2      0.497547  1.0  0.505182
3      0.144528  0.0  0.807797
4      0.446882  0.0  0.299976
...         ...  ...       ...
19995  0.012053  0.0  0.756290
19996  0.628781  1.0  0.344090
19997  0.543493  1.0  0.963963
19998  0.136449  1.0  0.255386
19999  0.828415  1.0  0.369900

[20000 rows x 3 columns]

In [ ]:
#Import Random Forest Model
from sklearn.ensemble import RandomForestClassifier

#Create a Gaussian Classifier
clf=RandomForestClassifier(n_estimators=100)

In [ ]:
#Train the model using the training sets
clf.fit(X_train_scaled, y_train)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=100,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

In [ ]:
# normalisation test dataset values 
X_test_range = (pd.DataFrame(X_test) - pd.DataFrame(X_test).min()).max()
X_test_range
X_test_scaled = (pd.DataFrame(X_test) - pd.DataFrame(X_test).min())/(X_test_range)
X_test_scaled

             0    1         2
0     0.427187  0.0  0.738370
1     0.231406  0.0  0.096421
2     0.754229  1.0  0.847780
3     0.201280  1.0  0.255696
4     0.947355  0.0  0.676532
...        ...  ...       ...
4995  0.119357  0.0  0.862937
4996  0.901132  1.0  0.854161
4997  0.257916  1.0  0.605124
4998  0.383956  1.0  0.962097
4999  0.050134  1.0  0.127691

[5000 rows x 3 columns]

In [ ]:
#Predict the response for test dataset
y_pred = clf.predict(X_test_scaled)

In [ ]:
#accuracy value :
print("Accuracy:",metrics.accuracy_score(y_test, y_pred))

Accuracy: 0.9996

In [ ]:
from sklearn.metrics import classification_report, confusion_matrix
import numpy as np

In [ ]:
#confusion matrix :
cm =np.array(confusion_matrix(y_test, y_pred, labels =[1,0]))
confusion = pd.DataFrame(cm, index=['tested positive', 'tested negative'], columns=['predicted positive','predicted negative'])
confusion

                 predicted positive  predicted negative
tested positive                3154                   2
tested negative                   0                1844